@{
    ViewData["Title"] = "Home";
    Layout = "_Layout";
}

<div id="map" style="width: 100%; height: 800px;"></div>
<div id="info" style="padding: 10px;"></div>
<div id="marker-form" style="display: none;">
    <form id="add-marker-form">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" required><br>
        <label for="description">Description:</label>
        <textarea id="description" name="description" required></textarea><br>
        <button type="submit">Add Marker</button>
    </form>
</div>

@section Scripts {
    <script src="~/js/map.js"></script>
}
